.order
  %h4 Order Info
  - if @data[:order_info][:items].empty?
    %p You haven't order at this day
  - else
    .card
      %ul.list-group.list-group-flush
        - for course in @data[:order_info][:items]
          %li.list-group-item #{course[:type]} #{course[:name]} #{course[:price]}
        %li.list-group-item total price: #{@data[:order_info][:total_price]}