- if @success_message
  %p.alert.alert-success= @success_message
%h2 Dashboard
%span#date #{@data[:date]}
.row
  .col-6
    #calendar
  .col-6
    = render 'order'
    = render 'menu'
:javascript
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'dayGrid', 'interaction' ],
    defaultView: 'dayGridMonth',
    validRange: {
      end: new Date() // hidden future days
    },
    selectable: true,
    dateClick: function(info) {
      window.location.href = "/?date="+ info.dateStr
      }
  });

  calendar.render();

